<div class="add-course-popup">
  <div class="add-course-left">
    <div class="add-course-heading">Add your grade:</div>
    <video class="add-course-video" playsinline webkit-playsinline [src]="videoPlayer" type="video/mp4" autoplay></video>
  </div>
  <form [formGroup]="courseForm" class="add-course">
    <label for="course" class="label">Course:</label>
    <input id="course" type="text" formControlName="course" class="input" />

    <div class="two-input">
      <div class="half-wrapper">
        <label for="grade" class="label half-select">Grade:</label>
        <select id="grade" formControlName="grade" name="selectedGrade" class="select half" (change)="onGradeChange()">
          <option *ngFor="let grade of grades" [ngValue]="grade.value" class="option">{{ grade.label }}</option>
        </select>
      </div>
      <div class="half-wrapper">
        <label for="credit" class="label half">Credits:</label>
        <input id="credit" type="text" formControlName="credit" class="input half" />
      </div>
    </div>

    <label for="type" class="label">Type:</label>
    <select id="type" formControlName="type" name="selectedType" class="select">
      <option *ngFor="let type of types" [ngValue]="type.value" class="option">{{ type.label }}</option>
    </select>

    <label for="semester" class="label">Semester:</label>
    <select id="semester" formControlName="semester" name="selectedSemester" class="select">
      <option *ngFor="let semester of semesters" [ngValue]="semester.value" class="option">{{ semester.label }}</option>
    </select>

    <button type="button" (click)="onSubmit()" class="submit-button">Submit</button>
  </form>
</div>
