

<table>
  <thead>
    <tr>
      <th>S.No</th>
      <th>Course</th>
      <th>Category</th>
      <th>Credit</th>
      <th>Grade</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of courseData; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ data.courseName }}</td>
      <td>{{ data.type }}</td>
      <td>{{ data.credit }}</td>
      <td>{{ data.grade }}</td>
      <td><button (click)="deleteCourseById(data.id)">Delete</button></td>
    </tr>
  </tbody>
</table>
<div class="chart">

  <app-pie-chart
  [chartData]='pieChartData'>
</app-pie-chart>

</div>
